html {
  scroll-behavior: smooth;
}

@font-face {
    font-family: 'tahuregular';
    src: url('font/tahu-webfont.woff2') format('woff2'),
         url('font/tahu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'wintersoulregular';
    src: url('font/wintersoul-webfont.woff2') format('woff2'),
         url('font/wintersoul-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
  min-height: 300vh;
  width: 100vw;
  background-color: white;
  margin: 0rem;
  overflow-x: hidden;
}
#wallpaper{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  top: 0vh;
  z-index: -1;
}
#photos{
  height: auto;
  width: 10vw;
  object-fit: cover;
  position: fixed;
  top: 50vh;
  z-index: 0;
  transform: translate(-50%);
  left: 50%;
  justify-content: center;
  border-radius: 80%;
}

#title {
  position: absolute;
  color: white;
  text-align: center;
  margin: auto;
  top: 5vh;
  width: 80vw;
  margin-left: 50vw;
  transform: translate(-50%);
  justify-content: center;
  font-family: 'tahuregular', sans-serif;
  font-size: 5vw;
  word-spacing: 1vw; 
  z-index: -1;
}

blockquote:before {
  position: absolute;
  top: 0vh;
  left: 0vw;
  content: "“";
  font-family: 'tahuregular';
  font-size: 10vw;
  color: #DDDDDD;
}
blockquote:after {
  position: absolute;
  top: 0vh;
  right: 0vw;
  content: "”";
  font-family: 'tahuregular';
  font-size: 10vw;
  color: #DDDDDD;
}
blockquote {
  position: relative;
  padding: 1vw 1vw;
}
blockquote p {
  margin: 0;
}

#auteur {
  position: absolute;
  color: white;
  text-align: center;
  margin: auto;
  top: 30vh;
  width: 80vw;
  margin-left: 50vw;
  transform: translate(-50%);
  justify-content: center;
  font-family: 'tahuregular', sans-serif;
  font-size: 1vw;
  word-spacing: 0.11vw; 
  z-index: -1;
}
#name {
  position: relative;
  color: white;
  text-align: center;
  margin: auto;
  top: 70vh;
  width: 80vw;
  margin-left: 50vw;
  transform: translate(-50%);
  justify-content: center;
  font-family: 'wintersoulregular', sans-serif;
  font-size: 5vw;
  word-spacing: 0.8vw; 
  z-index: -1;
}

#first-black-band {
  width: 100vw;
  height: 500vh;
  background: white;
  object-fit: cover;
  position: absolute;
  top: 100vh;
}

#icon-container{
   position: absolute;
   display: flex;
   flex-direction: row; 
   top: 44vh;
   width: 100vw;
   height: 100vh;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
#insta-icon:hover {
ms-transform: scale(1.1); 
webkit-transform: scale(1.1);
transform: scale(1.1);
}

#insta-icon {
  width: 2vw;
}

.image_container{
  position: absolute;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 3vw;
  justify-content: center;
  align-items: center;
  top: 106vh;

  @media screen and (max-width: 993px){
  #image{
    width: 28vw;
    height:  auto;
   }
  }
  @media screen and (max-width: 770px){
  #image{
    width: 43vw;
    height:  auto;
   }
  }
}

#image{
  width:22vw;
  height: auto;
}

#white-trans {
  width: 100vw;
  height: 28vw;
  background: linear-gradient(rgba(255,255,255,1),rgba(0,0,0,0));
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

.video-part-container{
   position: absolute;
   display: flex;
   flex-direction: column; 
   max-width: 100vw;
   justify-content: center;
   align-items: center;
   gap: 0px;
}
#Iceland {
  height: auto;
  width: 100vw;
}

#video iframe {
  position:absolute;
  left:15vw;
  z-index: 2;
  width: 25vw;
  height: 14.1vw;
  top: 20vw;
}
  @media screen and (max-width: 1000px){
  #video iframe{
    width: 30vw;
    height:  17vw;
   }
  }
    @media screen and (max-width: 750px){
  #video iframe{
    width: 50vw;
    height:  28vw;
   }
  }

  @media screen and (max-width: 1100px){
  #photos{
    width: 23vw;
  }
  #name{
  font-size: 8vw;
  top: 70vh;
  }
}
@media screen and (max-width: 500px){
  #title{
  font-size: 10vw;
  top: 10vh;
  }
  #photos{
    width: 35vw;
  }
  #insta-icon{
    width: 4vw;
  }

}
@media screen and (max-width: 1400px){
  #title{
  font-size: 6vw;
  top: 5vh;
  }
  #auteur{
  font-size: 2vw;
  top: 32vh;
  }
}
@media screen and (max-width: 800px){
  #title{
  font-size: 8vw;
  top: 10vh;
  }
  #auteur{
  font-size: 5vw;
  top: 32vh;
  }
}
@media screen and (max-height: 1000px){
  #photos{
  width: 15vw;
  top: 50vw;
  }
  #name{
  font-size: 5vw;
  top: 65vw;
  }
}
@media screen and (max-height: 950px){
  #title{
  font-size: 5vw;
  top: -2vw;
  }
  #auteur{
  font-size: 2vw;
  top: 20vw;
  }
  #photos{
  width: 10vw;
  top: 50vh;
  }
  #name{
  font-size: 5vw;
  top: 70vh;
  }
}

